* {
  box-sizing: border-box;
  margin:0;
  padding: 0;
}
body{
background-image: #333;
}

.container {
  display: flex;
  justify-content: left;
  
}
.calculadora {
  width: 400px;
  height: 600px;
  background-color: rgba(121, 63, 63, 0.5);
  display: grid;
  grid-template-columns: repeat(4,80px);
  grid-template-rows: 130px repeat(6,80px);
  justify-content: center;
  border-radius: 3px;
  padding-top: 10px;

}

.calculadora button {
  font-size: 1.5rem;
  background-color: #582b5eae;
  border: 2px #cd8ccf solid;
  margin:2px;

}

.calculadora button:hover {
  background-color: rgb(230, 230, 230);
}


.display {
  height: 120px;
  background-color: #8f5c5c;
  opacity: .7;
  grid-column: 1/-1;
  border: 2px #7a3348 solid;
  text-align: end;
  padding: 10px 0;
 

}

.span2 {
  grid-column: span 2;
}
.valor-superior {
  color: white;
  font-size: 1.2rem;
  margin-bottom: 30px;

}

.valor-inferior {
  color: white;
  font-size: 2rem;

}
